.main{
    /* background-image: url(../complate/assets/heroshape.png); */
    /* width: 1140px;
    height: 831px;
    background-repeat: no-repeat; */
    margin:10%;
 text-align: center;
 background-color: blue;
 /* width: 100%;
 height: 100%; */
 color: white;
}

